<h1>
  Model Change Route
</h1>
<AnimatedRoute>
  <AnimatedValue
    @value={{this.model.id}}
    @initialInsertion={{false}}
    @finalRemoval={{true}}
    @use={{this.transition}}
    @duration={{600}} as |foo|
  >
    <div style={{html-safe (concat this.color "width:100vw;text-align: center;margin:auto;padding:100px 0 100px 0;")}}>
      ModelID:
      {{foo}}
    </div>
  </AnimatedValue>
</AnimatedRoute>