<h1>
  Model Change Route
</h1>
<AnimatedValue
  @value={{this.model.id}}
  @initialInsertion={{true}}
  @finalRemoval={{true}}
  @use={{this.transition}}
  @duration={{600}}
>
  <div style={{html-safe (concat this.color "width:100vw;text-align: center;margin:auto;padding:100px 0 100px 0;")}}>
    ModelID:
    {{@model.id}}
  </div>
</AnimatedValue>